.cart-style {
    display: flex;
    align-items: center;
    margin: 10px 20px;
    border: 1px solid rgb(94, 100, 94);
    background-color: rgb(138, 168, 164);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: white;
}

.cart-style img {
    width: 50px;
    height: 50px;
}